<h1>Create New Contact</h1>
<%= form_tag "/contacts/", method: :post do %>
  <h3>First Name: <input type="text" name="first_name"></h3>
  <h3>Last Name <input type="text" name="last_name"></h3>
  <h3>Email <input type="text" name="email"></h3>
  <h3>Position <input type="text" name="position"></h3>
  <h3>Company <input type="text" name="company"></h3>
  <h3>Met <input type="text" name="met"></h3>
  <h3>Thanked <input type="text" name="thank_you"></h3>
  <h3>Followed Up <input type="text" name="followed_up"></h3>
  <h3>Notes <input type="text" name="notes"></h3>

  <input type="submit" name="New Contact">
<% end %>
